<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="container">
  <table class="table table-stripped table-bordered">
    <thead>
      <tr>
        <th scope="col">
          Dia
        </th>
        <th scope="col">
          Hora entrada
        </th>
        <th scope="col">
          Hora comedor
        </th>
        <th scope="col">
          Hora salida comedor
        </th>
        <th scope="col">
          Hora salida
        </th>
        <th>
          Total día
        </th>
        <th>
          Total Semana
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let day of week">
        <td>
          {{day.id}}
        </td>
        <td>
          <input type="datetime-local" [value]="day.start" (change)="calculatesDayAggregate(day)"/>
        </td>
        <td>
          <input type="datetime-local" [value]="day.lunchStart" (change)="calculatesDayAggregate(day)"/>
        </td>
        <td>
          <input type="datetime-local" [value]="day.lunchEnd" (change)="calculatesDayAggregate(day)"/>
        </td>
        <td>
          <input type="datetime-local" [value]="day.end" (change)="calculatesDayAggregate(day)"/>
        </td>
        <td class="alert"
            [ngClass]="{
              'alert-success': day.aggregate >= 8.5,
              'alert-danger': day.aggregate < 8.5}">
          {{day.aggregate}}
        </td>
        <td class="alert"
            [ngClass]="{
              'alert-succes': day.aggregateWeek >= 40,
              'alert-danger': day.aggregateWeek < 40}">
          {{day.aggregateWeek}}
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--modal component -->
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

